<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog"  role="document">
		<div class="modal-content">
			<div class="modal-body card-body">
				<iframe id="iframeYoutube" width="500" height="315"  src="https://www.youtube.com/embed/Zx729nLCJxw" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid">
	<section class="row">
		<div class="col-lg-6 order-lg-1">
			<a class="uk-button uk-button-default" href="https://www.tourisme-pyrenees-mediterranee.com" target="_blank" uk-toggle="">
				<img src="https://www.tourisme-pyrenees-mediterranee.com/images/logos/logo.png" alt="">
			</a>
		</div>
		<div class="col-lg-6 order-lg-1">
			<a class="uk-button uk-button-default" href="http://www.saint-andre66.fr" target="_blank" uk-toggle="">
				<img src="http://www.saint-andre66.fr/mbFiles/images/logos/logo-mairie-saint-andre.png" alt="">
			</a>
		</div>
	</section>
	<section class="row grey-bg">
		<div class="col-lg-6 order-lg-1">
			<a class="uk-button uk-button-default" onclick='$("#myModal").modal("show");' uk-toggle="">
				<img src="https://www.tourisme-pyrenees-mediterranee.com/images/images/cinemagraph-OTI.gif" class="rounded img-fluid" alt="">
			</a>
		</div>
		<div class="col-lg-6 order-lg-2 card-body">
			<strong>Mar i Munt</strong>
			<p>Par l'OTI Pyrénées Méditerranée</p>
			<p>Bienvenue en Pyrénées Méditerranée, une destination « Mar i Munt » (Mer et Montagne en catalan) qui vous séduira à coup sûr.</p>
			<p>Mariant à la perfection les panoramas grandioses des derniers contreforts des Pyrénées, l’intimité des criques de la Côte Vermeille, les richesses des fonds marins de la mer Méditerranée et une histoire riche liée à sa position frontalière avec l’Espagne, notre territoire est un véritable trésor à découvrir.</p>
			<p>Alors n’hésitez plus… « Vivez Pyrénées Méditerranée » !</p>
		</div>
	</section>
	<section class="row">
		<div class="col-lg-3 order-lg-1">
			<a class="uk-button uk-button-default" href="https://www.tourisme-pyrenees-mediterranee.com" uk-toggle="">
				<img src="https://www.valleesdegavarnie.com/sites/gavarnie/files/styles/ratio_3_4/public/page/cpierremeyerhiverargeles1.jpg?itok=S3s1J7jo" class="rounded img-fluid" alt="">
			</a>
		</div>
		<div class="col-lg-3 order-lg-1">
			<a class="uk-button uk-button-default" href="http://www.saint-andre66.fr" uk-toggle="">
				<img src="http://www.blog.colocationdevacances.com/wp-content/uploads/2012/07/4135915708_41f1a2a2f6_z.jpg" class="rounded img-fluid" alt="">
			</a>
		</div>
		<div class="col-lg-3 order-lg-1">
			<a class="uk-button uk-button-default" href="http://www.saint-andre66.fr" uk-toggle="">
				<img src="https://i.pinimg.com/originals/87/36/0c/87360c9eba6e5ad2916998f3dc9bf035.jpg" class="rounded img-fluid" alt="">
			</a>
		</div>
		<div class="col-lg-3 order-lg-1">
			<a class="uk-button uk-button-default" href="http://www.saint-andre66.fr" uk-toggle="">
				<img src="https://www.valleesdegavarnie.com/sites/gavarnie/files/styles/ratio_3_4/public/page/cirquesvalleesdegavarniehautespyrenees.jpg?itok=JtxzmiLA" class="rounded img-fluid" alt="">
			</a>
		</div>
	</section>
	<section class="row">
		<div class="col-lg-4 order-lg-1">
			<a class="uk-button uk-button-default" href="http://www.saint-andre66.fr" uk-toggle="">
				<img src="https://i.pinimg.com/originals/87/36/0c/87360c9eba6e5ad2916998f3dc9bf035.jpg" class="rounded img-fluid" alt="">
			</a>
		</div>
		<div class="col-lg-4 order-lg-1">
			<a class="uk-button uk-button-default" href="http://www.saint-andre66.fr" uk-toggle="">
				<img src="https://www.valleesdegavarnie.com/sites/gavarnie/files/styles/ratio_3_4/public/page/cirquesvalleesdegavarniehautespyrenees.jpg?itok=JtxzmiLA" class="rounded img-fluid" alt="">
			</a>
		</div>
		<div class="col-lg-4 order-lg-1">
			<a class="uk-button uk-button-default" href="http://www.saint-andre66.fr" uk-toggle="">
				<img src="https://www.valleesdegavarnie.com/sites/gavarnie/files/styles/ratio_3_4/public/page/cirquesvalleesdegavarniehautespyrenees.jpg?itok=JtxzmiLA" class="rounded img-fluid" alt="">
			</a>
		</div>
	</section>

	<section class="row">
		<div class="col-lg-2 order-lg-1">
			<a class="uk-button uk-button-default" href="https://www.tourisme-pyrenees-mediterranee.com" uk-toggle="">
				<img src="https://www.valleesdegavarnie.com/sites/gavarnie/files/styles/ratio_3_4/public/page/cpierremeyerhiverargeles1.jpg?itok=S3s1J7jo" class="rounded img-fluid" alt="">
			</a>
		</div>
		<div class="col-lg-2 order-lg-1">
			<a class="uk-button uk-button-default" href="http://www.saint-andre66.fr" uk-toggle="">
				<img src="http://www.blog.colocationdevacances.com/wp-content/uploads/2012/07/4135915708_41f1a2a2f6_z.jpg" class="rounded img-fluid" alt="">
			</a>
		</div>
		<div class="col-lg-2 order-lg-1">
			<a class="uk-button uk-button-default" href="https://www.tourisme-pyrenees-mediterranee.com" uk-toggle="">
				<img src="https://www.valleesdegavarnie.com/sites/gavarnie/files/styles/ratio_3_4/public/page/cpierremeyerhiverargeles1.jpg?itok=S3s1J7jo" class="rounded img-fluid" alt="">
			</a>
		</div>
		<div class="col-lg-2 order-lg-1">
			<a class="uk-button uk-button-default" href="http://www.saint-andre66.fr" uk-toggle="">
				<img src="http://www.blog.colocationdevacances.com/wp-content/uploads/2012/07/4135915708_41f1a2a2f6_z.jpg" class="rounded img-fluid" alt="">
			</a>
		</div>
		<div class="col-lg-2 order-lg-1">
			<a class="uk-button uk-button-default" href="http://www.saint-andre66.fr" uk-toggle="">
				<img src="https://i.pinimg.com/originals/87/36/0c/87360c9eba6e5ad2916998f3dc9bf035.jpg" class="rounded img-fluid" alt="">
			</a>
		</div>
		<div class="col-lg-2 order-lg-1">
			<a class="uk-button uk-button-default" href="http://www.saint-andre66.fr" uk-toggle="">
				<img src="https://www.valleesdegavarnie.com/sites/gavarnie/files/styles/ratio_3_4/public/page/cirquesvalleesdegavarniehautespyrenees.jpg?itok=JtxzmiLA" class="rounded img-fluid" alt="">
			</a>
		</div>
	</section>
</div>